<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <form action="/" method="get">
        <button  class="Touch" type="submit">Home</button>
    </form>
    <form action="/anaper" method="get">
        <button class="Touch" type="submit">Analyse Personality</button>
    </form>
    <form action="/getQuote" method="get">
        <button class="Touch" type="submit">Get Quotes</button>
    </form>
    <form action="/getMeme" method="get">
        <button  class="Touch" type="submit">Get Meme</button>
    </form>
    <form action="/getAdvice" method="get">
        <button class="Touch" type="submit">Get Advice</button>
    </form>  
        
    <iframe src="<%= content %>" frameborder="0" width="100%" height="400px"></iframe>
    <a href="<%= content %>" target="_blank">if the reddit page refused to connect click here</a>
</body>
</html>